New job created.
Job ID: <%= @job.jobID %>
Rep ID: <%= @job.rep %>
Name:   <%= @job.name %>
Buyer:  <%= @job.buyer %>
Booked: <%= @job.booked %>
Date:   <%= @job.date %>
Invoice:<%= @job.invoice %>
Shipped:<%= @job.shipped %>
Margin: <%= @job.margin %>
Commissions: <%= @job.commissions %>
Paid:        <%= @job.paid %>
